
#home-remote-wrapper {
    background: #2fa7fc;
    background: -moz-linear-gradient(-45deg, #2fa7fc 0%, #2fa7fc 50%, #288edf 50%, #288edf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #2fa7fc), color-stop(50%, #2fa7fc), color-stop(50%, #288edf), color-stop(100%, #288edf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #2fa7fc 0%, #2fa7fc 50%, #288edf 50%, #288edf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #2fa7fc 0%, #2fa7fc 50%, #288edf 50%, #288edf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #2fa7fc 0%, #2fa7fc 50%, #288edf 50%, #288edf 100%); /* IE10+ */
    background: linear-gradient(135deg, #2fa7fc 0%, #2fa7fc 50%, #288edf 50%, #288edf 100%); /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2fa7fc', endColorstr='#288edf', GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    margin: 62px 0 0;
}

.onoffswitch {
    position: relative; width: 63px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}

.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 22px; padding: 0; line-height: 22px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #07DE5D; color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    width: 14px; margin: 4px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 37px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
